.title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.5px;

  @media (min-width: 500px) {
    font-size: 2.8rem;
  }
}

.smaller {
  font-size: 2.4rem;
}
