.banner {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.35;
  max-width: 1600px;
  margin-left: 50%;
  transform: translateX(-50%);
  filter: blur(10px);

  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 600px;
    height: 100%;
  }

  &::after {
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.01),
      #1f2928 90%
    );
  }

  &::before {
    left: 0;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.01),
      #1f2928 90%
    );
  }
}

.banner__img {
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), #1f2928);
  }
}
