.banner {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
  margin-left: 50%;
  transform: translateX(-50%);
  filter: blur(7px);

  &::after,
  &::before {
    display: none;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 400px;
    height: 100%;
  }

  &::after {
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.01),
      #1a2423 90%
    );
  }

  &::before {
    left: 0;
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.01),
      #1a2423 90%
    );
  }

  @media (min-width: 1200px) {
    &::before,
    &::after {
      display: block;
    }
  }

  :global(.gatsby-image-wrapper) {
    height: 70vh;

    @media (min-width: 1024px) {
      height: auto;
    }
  }
}

.isFixed {
  position: fixed;
  filter: blur(0);
}

.banner__img {
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1),
      #1a2423
    );

    @media (min-width: 768px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.15), #1a2423);
    }
  }
}
