.quote {
  margin-top: 3rem;
  padding: 0 3rem 3rem 3rem;
  background-color: rgba(255, 255, 255, 0.15);

  :global(.gatsby-image-wrapper) {
    position: relative;
    top: -3rem;
  }

  p {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.5;
    font-style: italic;
  }
}

.quote__char {
  position: relative;

  &::after {
    content: "\201C";
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13rem;
    line-height: 0;
  }
}
