.quote {
  margin-top: 8rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);

  :global(.gatsby-image-wrapper) {
    position: relative;
    top: -3rem;
    border-radius: 5px;
  }

  p {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.5;
    font-style: italic;
  }

  @media (min-width: 1024px) {
    margin-top: 2rem;
  }
}

.quote__char {
  position: relative;

  &::after {
    content: "\201C";
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13rem;
    line-height: 0;
    font-family: "ABeeZee", sans-serif;
  }
}
