$background: rgba(255, 255, 255, 0.7);
$frontColor: #4f4f4f;

.player {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.35s ease-in-out, transform 0.15s ease-in-out;
  transform: translateY(100%);
  background-color: $background;
  backdrop-filter: blur(10px);
  box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, 0.15);

  :global(.rhap_container) {
    max-width: 100rem;
    padding: 0.5rem 0;
    box-shadow: none !important;
  }

  :global(.rhap_container) {
    background-color: transparent;
  }

  :global(.rhap_additional-controls:empty) {
    display: none;
  }

  :global(.rhap_volume-controls) {
    justify-content: center;
  }

  :global(.rhap_progress-indicator),
  :global(.rhap_volume-indicator) {
    background-color: $frontColor;
    box-shadow: none;
  }

  :global(.rhap_volume-bar),
  :global(.rhap_progress-bar-show-download) {
    background: rgba($frontColor, 0.5);
  }

  :global(.rhap_time) {
    font-weight: 600;
    color: $frontColor;
  }

  :global(.rhap_download-progress) {
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: rgba($frontColor, 0.5);
    border-radius: 2px;
  }

  :global(.rhap_progress-filled) {
    background-color: $frontColor;
  }

  :global(.rhap_play-pause-button) {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    path {
      fill: #d63b3b;
    }
  }
}

.close {
  opacity: 0;
  margin-left: 1rem;
  text-align: right;
  transition: opacity 0.15s ease-in-out;

  button {
    background: none;
    border: none;
    font-size: 2rem;

    svg {
      width: 4rem;
      height: 4rem;

      path {
        transition: fill 0.15s ease-in-out;
        fill: #d63b3b;
      }
    }
  }

  &:hover {
    path {
      fill: #b73030;
    }
  }
}

:global(.rhap_main-controls-button),
:global(.rhap_volume-button) {
  path {
    fill: $frontColor;
  }
}

:global(.active) {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
