.tags {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 0.5rem;

  > li {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.55rem 0.65rem 0.45rem;
    line-height: 1;
    color: #000;
    border: 1px solid;
    background-color: white;

    & + li {
      margin-left: 0.5rem;
    }
  }
}

.plain {
  > li {
    border: 1px solid rgba(0, 0, 0, 0.35);
    background-color: white;
  }
}

.centered {
  justify-content: center;
}
