.tags {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 0.5rem;

  > li {
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    color: #000;

    & + li {
      margin-left: 1rem;
    }
  }
}
