.tags {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-top: 0.5rem;

  > li {
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
    line-height: 1;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.125);

    & + li {
      margin-left: 0.5rem;
    }
  }
}

.centered {
  justify-content: center;
}
