.list {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;

  @media (min-width: 500px) {
    grid-gap: 3rem;
  }

  @media (min-width: 1210px) {
    margin: 0;
  }
}

.list__item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.list__information {
  padding: 1.25rem 1rem 1.75rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
}
