.list {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: 0;
}

.list__item {
  position: relative;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.list__information {
  padding: 1.25rem 1rem 1.75rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
}
