.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: 0;
}

.list__item {
  text-align: center;
  background-color: #f2f2f2;

  a {
    display: block;
    padding: 2rem;
    text-decoration: none;
  }
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.tag_container {
  font-size: 1.2rem;
  > * + * {
    margin-left: 0.5rem;
  }

  > * {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    background-color: #fff;
  }
}
