.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
  margin: 0;
}

.list__item {
  position: relative;
  text-align: center;
  background-color: #fff;

  a {
    display: block;
    color: #000;
    text-decoration: none;
  }
}

.list__information {
  padding: 1rem 1rem 1.5rem;
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
}
