.photogallery {
  > div {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-left: 0;
    margin-right: 0;

    > div {
      cursor: pointer;
      width: auto;
      max-width: none;
      border-radius: 5px;
      overflow: hidden;

      > div {
        margin: 0;
      }
    }
  }
}
