.photogallery {
  > div {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    grid-gap: 2rem;

    @media (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    > div {
      cursor: pointer;
      width: auto;
      max-width: none;
      border-radius: 5px;
      overflow: hidden;

      > div {
        margin: 0;
      }
    }
  }
}
