.eventlisting {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}

.eventlisting li {
  list-style-type: none;
}

.eventlisting li + li {
  margin-top: 1px;
}

.eventlisting__container {
  display: flex;
}

.eventlisting__date {
  display: flex;
  align-items: center;
  background: white;
  text-align: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  min-width: 10rem;
}

.eventlisting__date1 {
  color: #000;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: -1px;
  margin-right: 0.5rem;
}

.eventlisting__date2 {
  color: #000;
  font-size: 1.4rem;

  span {
    text-transform: uppercase;
    display: block;

    & + span {
      margin-top: 0.15rem;
    }
  }
}

.eventlisting__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #000;
  // margin-left: 1rem;
  flex: 1;
  padding: 1rem;
  border-left: 1px solid;
  background-color: white;

  > * + * {
    margin-top: 0.5rem;
  }
}

.eventlisting__title {
  font-size: 1.6rem;
  font-weight: 600;
}

.eventlisting__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}
