.eventlisting {
  padding: 0;
  border-radius: 5px;
  overflow: hidden;

  a {
    display: inline-block;
    color: #000;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid;
    text-decoration: none;
    transition: border-color 0.1s ease-in-out;

    &:hover {
      border-color: transparent;
    }
  }
}

.eventlisting li {
  list-style-type: none;
}

.eventlisting__container {
  display: flex;
}

.eventlisting__date {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.75rem 0.75rem 0.75rem 1rem;
  border-bottom: 1px solid #000;
  min-width: 10rem;
}

.eventlisting__date1 {
  color: #000;
  font-weight: 700;
  font-size: 3.35rem;
  letter-spacing: -1px;
  margin-right: 0.75rem;
}

.eventlisting__date2 {
  color: #000;
  font-size: 1.4rem;

  span {
    text-transform: uppercase;
    display: block;

    & + span {
      margin-top: 0.15rem;
    }
  }
}

.eventlisting__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #000;
  flex: 1;
  padding: 1rem;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;

  > * + * {
    margin-top: 0.5rem;
  }
}

.eventlisting__title {
  font-size: 1.6rem;
  font-weight: 600;
}

.eventlisting__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.scrollingbox {
  background: white;
  border-radius: 5px;
  overflow: hidden;

  @media (min-width: 1024px) {
    overflow: auto;
    height: 550px;
    background: linear-gradient(white 30%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0)
      ),
      radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0)
        )
        0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 10px, 100% 10px;
    background-attachment: local, local, scroll, scroll;
  }
}
