.eventlisting {
  padding: 0;
}

.eventlisting li {
  list-style-type: none;
}

.eventlisting li + li {
  margin-top: 1rem;
}

.eventlisting__container {
  display: flex;
}

.eventlisting__date {
  background: white;
  text-align: center;
  padding: 0.75rem;
  min-width: 7rem;
}

.eventlisting__date1 {
  color: #000;
  font-weight: 600;
  font-size: 3.5rem;
}

.eventlisting__date2 {
  margin-top: 0.5rem;
  color: #000;
  font-size: 1.4rem;
}

.eventlisting__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #000;
  margin-left: 1rem;
  flex: 1;
  padding: 1rem;
  background-color: white;

  > * + * {
    margin-top: 0.5rem;
  }
}

.eventlisting__title {
  font-size: 1.8rem;
  font-weight: 800;
}

.eventlisting__subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}
