.layout {
  padding: 4rem 1rem;
  max-width: 1200px;
  width: 100%;

  @media (min-width: 768px) {
    margin-top: 4rem;
  }

  @media (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
  }

  > * + * {
    margin-top: 3.5rem;

    @media (min-width: 768px) {
      margin-top: 7.5rem;
    }
  }
}
