backend:
  name: github
  repo: ameego/gatsbytest
  branch: master
  site_domain: cms.netlify.com
media_folder: static/assets
public_folder: /assets
collections:
  - label: Artists
    name: artists
    summary: "{{artistName}}"
    description: "Les artistes d'Horizon sont listés dans cette collection"
    label_singular: artist
    folder: artists
    create: true
    slug: "{{artistName}}"
    extension: json
    fields:
      - label: "Artist name"
        name: artistName
      - label: Catégories
        name: category
        widget: relation
        collection: "focus"
        multiple: true
        searchFields: ["focus"]
        valueField: "focus"
      - label: "Biography"
        name: biography
        widget: "markdown"
      - label: "Introduction"
        name: introduction
      - label: Bannière
        name: banner
        widget: image
      - name: slug
        label: "Slug"
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "A slug can have no spaces or special characters",
          ]
      - label: "Photos"
        label_singular: "photo"
        name: "galleryImages"
        widget: "list"
        summary: "{{fields.image}}"
        minimize_collapsed: true
        fields:
          - label: Image
            name: image
            widget: image
          - label: "Text alternatif"
            name: altText
  - label: Focus
    name: focus
    description: "Les activités d'Horizon sont listées dans cette collection"
    label_singular: focus
    folder: focus
    create: true
    slug: "{{focus}}"
    identifier_field: focus
    extension: json
    fields:
      - label: "Focus"
        name: focus
      - label: "Slug"
        name: slug,
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "A slug can have no spaces or special characters",
          ]
  - label: Agenda
    name: agenda
    description: "Les dates des artistes sont listées dans cette collection"
    label_singular: date
    folder: agenda
    create: true
    summary: "[{{category}}] {{evenement}} ({{eventdate}})"
    sortableFields: ["category"]
    slug: "{{evenement}}-{{category}}-{{eventdate}}"
    extension: json
    fields:
      - label: "Date de l'événement"
        name: "eventdate"
        widget: "datetime"
        default: ""
        dateFormat: "DD MMM YYYY"
        timeFormat: "HH:mm"
        format: "LLL"
        pickerUtc: false
      - name: evenement
        label: "Evenement"
      - name: category
        label: Artistes
        widget: relation
        collection: "artists"
        searchFields: ["artistName"]
        valueField: "artistName"
