backend:
  name: github
  repo: ameego/gatsbytest
  branch: master
  site_domain: cms.netlify.com
media_folder: static/assets
public_folder: /assets
collections:
  - name: artists
    label: Artists
    folder: artists
    create: true
    fields:
      - { name: artistName, label: "Artist name" }
      - { name: slug, label: "Slug" }
      - { name: biography, label: "Biography", widget: "text" }
