backend:
  name: github
  repo: ameego/gatsbytest
  branch: master
  site_domain: cms.netlify.com
media_folder: static/assets
public_folder: /assets
collections:
  - name: "pages"
    label: "Pages"
    extension: "json"
    editor:
      preview: false
    files:
      - file: "collections/pages/home/home.json"
        label: Accueil
        name: home
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }
          - { label: "Bannière", name: banner, widget: image }
          - {
              label: "Vitrine de vidéos",
              name: videos,
              widget: relation,
              collection: video,
              searchFields: ["title"],
              valueField: "title",
              multiple: true,
            }
  - label: Artists
    name: artists
    summary: "{{artistName}}"
    description: "Les artistes d'Horizon sont listés dans cette collection"
    label_singular: artist
    folder: "collections/artists"
    create: true
    slug: "{{artistName}}"
    extension: json
    editor:
      preview: false
    fields:
      - label: "Artist name"
        name: artistName
      - label: Catégories
        name: category
        widget: relation
        collection: "focus"
        multiple: true
        searchFields: ["focus"]
        valueField: "focus"
      - label: "Biography"
        name: biography
        widget: "markdown"
      - label: "Introduction"
        name: introduction
      - label: "Citation"
        name: citation
        widget: object
        fields:
          - label: "Citation"
            name: quote
          - label: "Image"
            name: quoteImage
            widget: image
      - label: Bannière
        name: banner
        widget: image
      - name: slug
        label: "Slug"
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "A slug can have no spaces or special characters",
          ]
      - label: "Photos"
        label_singular: "photo"
        name: "galleryImages"
        widget: "list"
        summary: "{{fields.image}}"
        minimize_collapsed: true
        fields:
          - label: Image
            name: image
            widget: image
          - label: "Text alternatif"
            name: altText
  - label: Focus
    name: focus
    description: "Les activités d'Horizon sont listées dans cette collection"
    label_singular: focus
    folder: "collections/focus"
    create: true
    slug: "{{focus}}"
    identifier_field: focus
    extension: json
    editor:
      preview: false
    fields:
      - label: "Focus"
        name: focus
      - label: "Slug"
        name: slug,
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "A slug can have no spaces or special characters",
          ]
  - label: Agenda
    name: agenda
    description: "Les dates des artistes sont listées dans cette collection"
    label_singular: date
    folder: "collections/agenda"
    create: true
    summary: "[{{category}}] {{evenement}} ({{eventdate}})"
    sortableFields: ["category"]
    slug: "{{evenement}}-{{category}}-{{eventdate}}"
    extension: json
    editor:
      preview: false
    fields:
      - label: "Date de l'événement"
        name: "eventdate"
        widget: "datetime"
        default: ""
        dateFormat: "DD/MMM/YYYY"
        timeFormat: "HH:mm"
        format: "LLL"
        pickerUtc: false
      - name: evenement
        label: "Evenement"
      - name: category
        label: Artistes
        widget: relation
        collection: "artists"
        searchFields: ["artistName"]
        valueField: "artistName"
  - label: Vidéos
    name: video
    description: "La vidéothèque est maintenue dans cette collection"
    label_singular: vidéos
    folder: "collections/videos"
    create: true
    slug: "{{title}}"
    identifier_field: focus
    extension: json
    editor:
      preview: false
    fields:
      - label: "Video title"
        name: title
      - label: "Youtube url"
        name: url
