backend:
  name: github
  repo: ameego/gatsbytest
  branch: master
  site_domain: cms.netlify.com
media_folder: static/assets
public_folder: /assets
collections:
  - name: artists
    description: "Les artistes d'Horizon sont listés dans cette collection"
    label: Artists
    folder: artists
    create: true
    slug: "{{artistName}}"
    extension: json
    fields:
      - { name: artistName, title: artistName, label: "Artist name" }
      - {
          name: category,
          label: Catégories,
          widget: relation,
          collection: "focus",
          multiple: true,
          searchFields: ["focus"],
          valueField: "focus",
        }
      - {
          name: slug,
          label: "Slug",
          pattern:
            [
              "^[a-z0-9]+(?:-[a-z0-9]+)*$",
              "A slug can have no spaces or special characters",
            ],
        }
      - { name: biography, label: "Biography", widget: "text" }
  - name: focus
    description: "Les activités d'Horizon sont listées dans cette collection"
    label: Focus
    folder: focus
    create: true
    slug: "{{focus}}"
    extension: json
    fields:
      - { name: focus, title: focus, label: "Focus" }
      - {
          name: slug,
          label: "Slug",
          pattern:
            [
              "^[a-z0-9]+(?:-[a-z0-9]+)*$",
              "A slug can have no spaces or special characters",
            ],
        }
