backend:
  name: github
  repo: ameego/horizonlive
  branch: master
  site_domain: horizonmusiques.netlify.app
locale: fr
media_folder: static/assets
public_folder: /assets
collections:
  - name: "pages"
    label: "Pages"
    extension: "json"
    editor:
      preview: false
    files:
      - file: "collections/pages/home-page/home-page.json"
        label: Accueil
        name: home
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }
          - {
              label: "Vitrine de vidéos",
              name: videos,
              widget: relation,
              collection: video,
              searchFields: ["title"],
              valueField: "title",
              multiple: true,
            }

      - file: "collections/pages/artists-page/artist-page.json"
        label: Artists
        name: artistpage
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }

      - file: "collections/pages/videos-page/videos-page.json"
        label: Vidéos
        name: videos
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }

      - file: "collections/pages/agenda-page/agenda-page.json"
        label: Agenda
        name: agenda
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }

      - file: "collections/pages/contact-page/contact-page.json"
        label: Contacts
        name: contacts
        fields:
          - { label: "Titre", name: title, widget: text }
          - { label: "Sous-titre", name: subtitle, widget: text }

      - file: "collections/pages/activity-page/activity-page.json"
        label: Activités
        name: activities
        fields:
          - label: "Live"
            name: "live"
            widget: "object"
            collapsed: true
            fields:
              - { label: "Titre", name: title, widget: text }
              - { label: "Sous-titre", name: subtitle, widget: text }
          - label: "Label"
            name: "label"
            widget: "object"
            collapsed: true
            fields:
              - { label: "Titre", name: title, widget: text }
              - { label: "Sous-titre", name: subtitle, widget: text }
          - label: "Management"
            name: "management"
            widget: "object"
            collapsed: true
            fields:
              - { label: "Titre", name: title, widget: text }
              - { label: "Sous-titre", name: subtitle, widget: text }
          - label: "Publishing"
            name: "publishing"
            widget: "object"
            collapsed: true
            fields:
              - { label: "Titre", name: title, widget: text }
              - { label: "Sous-titre", name: subtitle, widget: text }

      - file: "collections/common/common.json"
        label: Informations communes
        name: common
        fields:
          - {
              label: "Bannière",
              name: banner,
              widget: image,
              media_folder: "/static/assets/common/banner",
            }

  - label: Artistes
    name: artists
    summary: "{{artistName}}"
    description: "Les artistes d'Horizon sont listés dans cette collection"
    label_singular: artiste
    folder: "collections/artists"
    create: true
    slug: "{{artistName}}"
    extension: json
    editor:
      preview: false
    fields:
      - label: "Nom de l'artiste"
        name: artistName
      - name: slug
        label: "Slug"
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "A slug can have no spaces or special characters",
          ]
      - label: Catégories
        name: category
        widget: relation
        collection: "focus"
        multiple: true
        searchFields: ["focus"]
        valueField: "focus"
      - label: Ordre d'affichage
        name: displayOrder
        widget: "number"
        default: 100
        valueType: "int"
        min: 100
        step: 100
        hint: "Contrôle l'ordre d'affichage des artistes. Utilisez le curseur à droite du champ texte pour changer la valeur. 100 place l'artiste en première position dans la liste, 200 en deuxième position, 300 en troisième position, etc."
        pattern:
          [
            '^(0|[1-9]\d?00)$',
            "Le nombre doit être incrémenté par 100 (100, 200, 300, 400, 500, etc.)",
          ]
      - label: Bannière
        name: banner
        widget: image
        required: false
        media_folder: "/static/assets/banner/{{fields.slug}}"
      - label: Biographie
        name: biography
        widget: "markdown"
      - label: "Introduction"
        name: introduction
      - label: "Citation"
        name: citation
        widget: object
        fields:
          - label: "Citation"
            name: quote
          - label: "Image"
            name: quoteImage
            widget: image
            required: false
            media_folder: "/static/assets/quote/{{fields.slug}}"
      - label: "Photos"
        label_singular: "photo"
        name: "galleryImages"
        widget: "list"
        required: false
        summary: "{{fields.image}}"
        minimize_collapsed: true
        fields:
          - label: Image
            name: image
            media_folder: "/static/assets/gallery/{{fields.slug}}"
            widget: image
          - label: "Text alternatif"
            name: altText
      - label: Musiques
        name: playlist
        widget: "list"
        required: false
        summary: "{{fields.musicname}}"
        minimize_collapsed: true
        fields:
          - label: "Nom de la Musique"
            name: musicname
          - label: Musique
            name: music
            widget: file
            media_folder: "/static/music/{{fields.slug}}"

  - label: "Activités"
    name: focus
    description: "Les activités d'Horizon sont listées dans cette collection"
    label_singular: activité
    folder: "collections/focus"
    create: true
    slug: "{{focus}}"
    identifier_field: focus
    extension: json
    editor:
      preview: false
    fields:
      - label: "Nom de l'activité"
        name: focus
      - label: "Slug"
        name: slug
        pattern:
          [
            "^[a-z0-9]+(?:-[a-z0-9]+)*$",
            "Un slug ne peut pas avoir de caractère spéciaux, ni d'espaces",
          ]

  - label: Agenda
    name: agenda
    description: "Les dates des artistes sont listées dans cette collection"
    label_singular: date
    folder: "collections/agenda"
    create: true
    summary: "[{{category}}] {{evenement}} ({{eventdate}})"
    sortableFields: ["category"]
    slug: "{{evenement}}-{{category}}-{{eventdate}}"
    extension: json
    editor:
      preview: false
    fields:
      - label: "Date de l'événement"
        name: "eventdate"
        widget: "datetime"
        default: ""
        format: "YYYY-MM-DD"
        dateFormat: "DD/MM/YY"
        timeFormat: false
        pickerUtc: false
      - name: evenement
        label: "Évenement"
      - name: category
        label: Artiste
        widget: relation
        collection: "artists"
        searchFields: ["artistName"]
        valueField: "artistName"

  - label: Vidéos
    name: video
    description: "La vidéothèque est maintenue dans cette collection"
    label_singular: vidéo
    folder: "collections/videos"
    create: true
    slug: "{{title}}"
    identifier_field: focus
    extension: json
    editor:
      preview: false
    fields:
      - label: "Video title"
        name: title
      - label: "Youtube url"
        name: url
      - name: artist
        label: Artistes
        widget: relation
        collection: "artists"
        searchFields: ["artistName"]
        valueField: "artistName"

  - label: Actualités
    name: news
    hide: true
    description: "Les actualités sont listées dans cette collection"
    label_singular: actualité
    folder: "collections/news"
    create: true
    slug: "{{title}}"
    identifier_field: news
    extension: json
    editor:
      preview: false
    fields:
      - label: "News title"
        name: title
      - label: "Date de publications"
        name: "date"
        widget: "datetime"
        dateFormat: "DD/MM/YY"
        timeFormat: false
        pickerUtc: false
      - name: artist
        label: Artistes
        widget: relation
        collection: "artists"
        searchFields: ["artistName"]
        valueField: "artistName"
      - label: "Corps de texte"
        name: text
        widget: text
