.navigation__item {
  display: block;
  color: #fff;
  border: 0;
  list-style-type: none;
  background-color: transparent;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  position: relative;

  &:hover {
    > .subnavigation {
      display: block;
    }
  }

  a {
    color: #fff;
  }

  > a {
    display: block;
    padding: 1rem 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.125s ease-in-out;

    &:hover {
      color: #dd7c7c;
    }
  }

  .active {
    color: #dd7c7c;
    border-bottom: 1px solid;
  }
}

.navigation__disabled {
  &:active {
    pointer-events: none;
  }
}

.subnavigation {
  display: none;
  position: absolute;
  padding: 2rem;
  background: black;

  > * + * {
    margin-top: 1rem;
  }
}
