.nav {
  @media (min-width: 768px) {
    button {
      display: none;
    }
  }
}

.ul {
  display: none;

  @media (min-width: 768px) {
    display: flex !important;
    flex: 1;
  }
}

.navigation__item {
  display: block;
  color: #fff;
  border: 0;
  list-style-type: none;
  background-color: transparent;
  margin: 0;
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;

  & + & {
    margin-left: 1rem;

    @media (max-width: 768px) {
      margin-top: 1rem;
    }

    a {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @media (max-width: 768px) {
    font-size: 2.6rem;
  }

  &:hover {
    > .subnavigation {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  > a {
    :global(.headroom--scrolled) & {
      @media (min-width: 768px) {
        color: #000;
      }
    }
  }

  a {
    display: inline-block;
    color: #fff;
    padding: 1rem 0 0.5rem;
    text-decoration: none;
    transition: color 0.125s ease-in-out;

    &:hover {
      color: #dd7c7c;

      :global(.headroom--scrolled) & {
        color: #dd7c7c;
      }
    }
  }

  .active {
    color: #dd7c7c;
    border-bottom: 1px solid;

    :global(.headroom--scrolled) & {
      color: #dd7c7c;
    }
  }
}

.navigation__disabled {
  &:active {
    pointer-events: none;
  }
  @media (max-width: 768px) {
    display: none !important;
  }
}

.subnavigation {
  > * + * {
    margin-top: 1rem;
  }
  @media (min-width: 768px) {
    overflow: hidden;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    padding: 2rem;
    background: black;
    transform: translateY(-1rem);
    transition: opacity 0.15s ease-in-out, transform 0.1s ease-in-out;

    > * + * {
      margin-top: 1rem;
    }
  }
}
