.navigation__item {
  display: block;
  color: #fff;
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  position: relative;

  &:hover {
    > .subnavigation {
      display: block;
    }
  }
}

.subnavigation {
  display: none;
  position: absolute;
  background: black;
}
