.navigation__item {
  display: block;
  color: #fff;
  border: 0;
  list-style-type: none;
  background-color: transparent;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  position: relative;

  & + & {
    margin-left: 1rem;

    a {
      padding-left: 1rem;
    }
  }

  &:hover {
    > .subnavigation {
      display: block;
    }
  }

  a {
    display: inline-block;
    color: #fff;
    padding: 1rem 0;
    text-decoration: none;
    transition: color 0.125s ease-in-out;

    &:hover {
      color: #dd7c7c;
    }
  }

  .active {
    color: #dd7c7c;
    border-bottom: 1px solid;
  }
}

:global(.nav-container-sticky) {
  .navigation__item > a {
    color: #000;

    &:hover {
      color: #dd7c7c;
    }
  }

  .navigation__item > .active {
    color: #dd7c7c;
  }
}

.navigation__disabled {
  &:active {
    pointer-events: none;
  }
}

.subnavigation {
  display: none;
  position: absolute;
  z-index: 2;
  padding: 2rem;
  background: black;

  > * + * {
    margin-top: 1rem;
  }
}
