.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 3rem auto 10rem;

  h1 {
    a {
      color: #fff;
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
