.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 1rem;
  padding-bottom: 1rem;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto 0;
  }

  h1 {
    a {
      color: #fff;
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.15s ease-in-out;
    }
  }
}

:global(#nav-container-top) {
  height: 1px;
  background-color: transparent;
}

:global(#nav-container) {
  transition: background-color 0.15s ease-in-out;
}

:global(.nav-container-sticky) {
  background-color: #fff;

  h1 {
    a {
      color: #000;
    }
  }
}
