.header {
  z-index: 10;
  padding: 2rem 1rem 2rem;

  > div {
    max-width: 1200px;
    margin: 0 auto 0;

    @media (min-width: 550px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    a {
      color: #fff;
      font-size: 2.5rem;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.15s ease-in-out;

      :global(.headroom--scrolled) & {
        color: #000;
      }
    }
  }
}

:global(.headroom--scrolled) {
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.25);
}
