.container {
  color: #fff;
  margin-bottom: 7.5rem;

  > * + * {
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    width: 60%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-left: 1px solid #fff;
  }
}

.less_spacing {
  margin-bottom: 3.5rem;
}
