.title {
  font-weight: 800;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1.1;
}

.subtitle {
  margin-top: 1.5rem;
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -0.5px;
}

.container {
  color: #fff;
  margin-bottom: 7.5rem;
  padding-left: 2.5rem;
  border-left: 1px solid #fff;
}
