.container {
  color: #fff;
  margin-bottom: 3.5rem;

  > * + * {
    margin-top: 0.5rem;
  }

  @media (min-width: 768px) {
    width: 80%;
    margin-bottom: 7.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-left: 1px solid #fff;
  }

  @media (min-width: 1024px) {
    width: 60%;
  }
}

.less_spacing {
  margin-bottom: 1.5rem;
}

.smaller {
  padding-left: 0;
  border-left-color: transparent;
}
