.videogallery {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  grid-gap: 2rem;

  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.narrow {
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
}

.iframecontainer {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 123%;
}

.videogallery__item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  iframe {
    width: 100%;
    height: 21rem;
  }
}

.videogallery__information {
  padding: 1.25rem 1rem 1.75rem;
  background: white;
}
