.videogallery {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
  list-style-type: none;
  grid-gap: 2rem;

  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.narrow {
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
  }
}

.iframecontainer {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 123%;
}

.videogallery__item {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  iframe {
    width: 100%;
    height: 21rem;
    transition: transform 0.15s ease-in-out;
  }
}

.videogallery__information {
  flex: 1;
  padding: 1.25rem 1rem 1.75rem;
  background: white;
}

.iframecontainer {
  position: relative;
  overflow: hidden;
  transition: background-size 0.15s ease-in-out;

  &::before {
    content: "";
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border: 0 solid rgba(255, 255, 255, 1);
    transition: border-width 0.15s ease-in-out;
  }
}

.videogallery__item:hover {
  cursor: pointer;

  .iframecontainer {
    background-size: 126%;
  }

  .iframecontainer::before {
    border-width: 4px;
  }
}
