.title {
  color: #fff;
  font-weight: 800;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 1;

  @media (min-width: 500px) {
    font-size: 4.5rem;
  }

  @media (min-width: 768px) {
    font-size: 5.5rem;
  }
}

.smaller {
  line-height: 1.1;
  font-size: 3.5rem;
}
